# Rename the file to .env to apply the configuration

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=mmr_boost
POSTGRES_PASSWORD=mmr_boost
POSTGRES_DB=db

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_EMAIL=testemail@yandex.ru
SMTP_PASSWORD=apppassword
SMTP_NICKNAME=your_nickname

# Port on which the web server will run
HTTP_PORT=:8080
# After how many seconds the request will be closed with a timeout
HTTP_REQUEST_TIMEOUT=3

# Number of incorrect password entries before the account is blocked
PASSWORD_MAX_ATTEMPTS=3
# Hours for which the account will be blocked after incorrect password attempts
PASSWORD_BLOCK_TIME=24

# Live time in minutes for access token
SESSION_ACCESS_TOKEN=30
# Live time in hours for refresh token
SESSION_REFRESH_TOKEN=24

# In how many hours the validation token will expire
EMAIL_VALIDATION_EXPIRATION=24
# Base URL for a link in an email
EMAIL_VALIDATION_BASE_URL=http://localhost:8080
